/* 
    Document   : style
    Created on : 14.10.2012, 20:26:15
    Author     : loki2d
    Description:
        Purpose of the stylesheet follows.
*/

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 1024px;
} 
html {
    height: 100%;
    width: 100%;
}

.i_wropper {
    height: 100%;
    width: 100%;
    overflow: hidden;
   min-width: 1024px;
}
.i_wBlock{    
    width: 100000px;
}
.b_home {
    float:left;
    background: url("img/H1.JPG") center no-repeat;
}


.b_uploadScreen {
    float:left;
    background: url("img/H2.jpg") center no-repeat;
}




/*menu
-----------------------------*/
.i_menu {
    height: 30px;
    position: absolute;
    top: 20px;
    right: 40px;
    height: 20px;
    z-index: 10;
    text-align: right
}
.b_menu {
    list-style: none;
    margin: 0px;
    padding:0px; 
    text-align: center;
    margin-right: 40px;
}
.e_menu {
   display: inline-block;    
   width: 220px;
   height: 115px;
   line-height: 30px;
   cursor: pointer;
   margin: 0px 2px;
   background: url("img/menu.png") no-repeat;
   
}
.e_menu-home{
     background-position: 0px 0px;
     width: 215px;
}
.e_menu-home:hover, .home .e_menu-home {background-position: 0px -120px}
.e_menu-cartman {
    background-position: -563px 0px;
    width: 210px;
}
    .e_menu-cartman:hover, .Cartman .e_menu-cartman{background-position: -563px -120px;}

.e_menu-stan {
    background-position: -224px 0px;
    width: 146px;
}
    .e_menu-stan:hover, .Stan .e_menu-stan{background-position: -224px -120px;}

.e_menu-kail {
    background-position: -780px 0px;
    width: 142px;
}
    .e_menu-kail:hover, .Kail .e_menu-kail{background-position: -780px -120px;}

.e_menu-kenny {
    background-position: -375px 0px;
    width: 178px;
}
    .e_menu-kenny:hover, .Kenny .e_menu-kenny {background-position: -375px -120px;}

    
 /*Action blocks
*/
.b_wArea {
  float:left;
  position: relative;
}

.b_home {
    background: url("img/H1.JPG") center no-repeat;
}
       
        .b_speak-bable-cartman {
            display: none;
            padding-top: 30px;
            height: 80px;
            width: 200%;
            position: absolute;
            top: -160%;
            left: 30%;
            text-align: center;
            border-radius: 100px;
                background: aliceblue;
        }
         #Cartman-mount {
            position:  relative;
            height: 2%;
            width: 2%;
            top: 73%;
            left: 33.5%;          
            display:none;            
            z-index: 100;
        }        
        .b_char-Cartman{
            position: absolute;   
            top: 70%;
            left: 27%;
            height: 27%;
            width: 14%;           
            background: url(img/cartman.png) 0px 0px no-repeat;
            background-size: contain;
           
        }
        .b_char-Stan{
            position: absolute;
            top: 66%;
            left: 46%;
            height: 30%;
            width: 10%;             
            background: url(img/Stan.png) 0px 0px no-repeat;
            background-size: contain;
           
        }
        .b_char-Kail{
            position: absolute;
            top: 67%;
            left: 59%;
            height: 30%;
            width: 12%;            
            background: url(img/kail.png) 0px 0px no-repeat;
            background-size: contain;
            

        }
        .b_char-Kenny {
            position: absolute;
            top: 66%;
            left: 76%;
            height: 30%;
            width: 12%;              
            background: url(img/kenny.png) 0px 0px no-repeat;
            background-size: contain;
        }
        
        
        
.b_Stan {
    background: url("img/H2.jpg") center no-repeat;
}
.b_Kenny {
    background: url("img/H2.jpg") center no-repeat;
}
.b_Cartman {
    background: url("img/H2.jpg") center no-repeat;
}
.b_Kail {
    background: url("img/H2.jpg") center no-repeat;
}

.b_chat {
   display: none;
   height: 20%;   
   background-color: #fff;
   border: 2px solid white;     
   position: absolute;
   bottom: 0px;
   width: 80%;
   -webkit-border-radius: 3%;    
    border-radius: 3%;
}

/*Старница Картамана*/
.e_Cartman{
    height: 380px;    
    width: 420px;
    background: url(img/cartman.png) no-repeat;
    background-size: contain;
    top: 70%;
    left: 23%;
    position: absolute;
}
.e_cartman-speakBable{
    background: url(img/bable_charLeft.png) no-repeat;
    height: 387px;
    width: 575px;
    background-size: contain;
    position: absolute;
    top: 47%;
    left: 33%;
}


.answer {
    height: 200px;
    background: white;
    margin-bottom: 10px;
    color: black;
}
.ask {
    height: 10%;
    background: #edbd8d;
    padding:20px;
    position: absolute;
    bottom: 0px;
    width: 30%;
    right : 20%;
}
.cartman_chat {
    width: 100%;  
    resize: none;
    background: #ccc;
    color: blue;
    height: 60%;
    font-size: 20px;
    margin-bottom: 3%;
}
.send {
    cursor: pointer;
    font-size: 20px;
}
.e_speacBable-chat {
}



/*Старница Стена*/
/*Старница Каила*/
/*Старница Кенни*/